.navbar-container {
  background-color: lightskyblue;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.navbar-item {
  color: lightslategrey;
  font-size: 25px;
  padding: 10px;
  margin: 15px;
}

.active.navbar-item:hover {
  text-decoration: none;
}

.navbar-item:hover {
  background-color: skyblue;
  text-decoration: none;
}

.active {
  color: black;
  border-bottom: solid 2px darkblue;
}
